<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>This is Dank's <%= title %></h1>
  <p>There are (<%= bookCount %>) books in this library.</p>
  <p>There are (<%= authorCount %>) uniques authors whose works are represented here</p>
  <p>There are (<%= bookInstanceCount%>) in this library</p> 
  <p> there are (<%= genreCount %>) genres in library</p>
  <p>this > <%= way %> is one of the books in this library</p>
</html>