<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <div class="mainCont">
    <div class="firstDiv">
      <%- include('./layout.ejs') %>
    </div>

    <div class="secondDiv">
      <div>
        <h1>This is Dank's <%= title %></h1>
        <p>Welcome to <%= title %>, a very basic express website developed as a tutorial example
            on the moxilla developer network</p>
      </div>

      <h1>Records:</h1>
      <div class="data">
        <h3 id="it1">The library has the following records:</h3>
        <p id="it2">Books: (<%= bookCount %>).</p>
        <p id="it3">Authors: (<%= authorCount %>).</p>
        <p id="it4">Copies: (<%= bookInstanceCount%>).</p> 
        <p id="it5">Genres: (<%= genreCount %>).</p>
      </div>
    </div>
  </div>
  
</html>